.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.input-container input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;

  padding: 0 0.7rem;
  height: 2rem;
}
