.home-main-container {
  min-height: calc(100vh - 7rem);

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-form-container {
  height: 250px;
  background: #111;
  border-radius: 0.4rem;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home-form-container button {
  margin-top: 2rem;

  height: 2.4rem;
  border: 0;

  background: rgba(255, 6, 138, 0.8);
  border-radius: 0.2rem;

  transition: filter 0.2s ease-in-out;

  color: white;
}

.home-form-container button:hover {
  filter: brightness(0.8);
}
