.home_main_container {
  min-height: calc(100vh - 7rem);

  display: flex;
  align-items: center;
  justify-content: center;
}

.home_form_container {
  height: 250px;
  background: #111;
  border-radius: 0.4rem;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home_form_container button {
  height: 2.4rem;
  border: 0;

  background: rgba(255, 69, 0, 0.8);
  border-radius: 0.2rem;

  transition: filter 0.2s ease-in-out;
}

.home_form_container button:hover {
  filter: brightness(0.8);
}
