.header-header-container {
  margin-bottom: 2rem;
  height: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  color: #d2d2d2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-header-container h2 {
  text-transform: uppercase;
}

.header-header-container button {
  border: 0;
}
